.borderCenter {
    position: relative;
}

.borderCenter::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 60%;
    height: 1px;
    opacity: 0;
    background-color: #5778F3;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
}

.borderCenter:hover::after {
    width: 100%;
    opacity: 1;
}
