.borderMarker {
    position: relative;
}

.borderMarker::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 70%;
    left: -0.1px;
    right: -0.1px;
    bottom: 0;
    transition: top .1s ease-in-out;
    background-color: rgba(87,120,243,0.5);
}

.borderMarker:hover::after {
    top: 0;
}
