@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -16px, 0);
    }
}
.bouncingLoader {
    display: flex;
    justify-content: center;
}
.bouncingLoader > div {
    width: 13px;
    height: 13px;
    margin: 32px 3px;
    background: #5778F3;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}
.bouncingLoader > div:nth-child(2) {
    animation-delay: 0.2s;
}
.bouncingLoader > div:nth-child(3) {
    animation-delay: 0.4s;
}
