.circleBtn {
    padding: 8px 30px;
    background-color: hsl(222, 100%, 95%);
    color: hsl(243, 80%, 62%);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.circleBtn span {
    display: inline-block;
    transition: transform .4s cubic-bezier(.645,.045,.355,1);
}

.circleBtn:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: hsl(243, 80%, 62%);
    transition: transform .4s cubic-bezier(.645,.045,.355,1);
}

.circleBtn:hover span {
    transform: translate3d(16px,0,0);
}

.circleBtn:hover::after {
    transform: translate3d(30px,0,0) scale(.5) translateY(-50%);
}