.diagonalFill {
            width: 120px;
            height: 40px;
            border: none;
            color: blueviolet;
            background: transparent;
            padding: 0 14px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            position: relative;
            transition-duration: 0.4s;
        }
.diagonalFill::after {
                position: absolute;
                content: "";
                width: 0;
                height: 0;
                top: 0;
                right: 0;
                background-color: blueviolet;
                transition: 0.4s;
                z-index: -1;
            }

.diagonalFill::before {
                position: absolute;
                content: "";
                width: 0;
                height: 0%;
                bottom: 0;
                left: 0;
                background-color: blueviolet;
                transition: 0.4s;
                z-index: -1;
            }

.diagonalFill:hover {
                color: white;
            }

.diagonalFill:hover::after,
.diagonalFill:hover::before {
                width: 100%;
                height: 100%;
            }
