.donutSpinner {
    display: inline-block;
    border: 4px solid hsl(222, 100%, 95%);;
    border-left-color: hsl(243, 80%, 62%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
