.doubleDashed {
    width: 120px;
    height: 40px;
    color: #5878F3;
    padding: 0 14px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.doubleDashed::before,
.doubleDashed::after {
    position: absolute;
    content: '';
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #5878F3;
    transition: transform 0.2s ease-in-out;
}

.doubleDashed::before {
    top: 0;
    transform: translateX(-100%);
}

.doubleDashed::after {
    bottom: 0;
    transform: translateX(100%);
}

.doubleDashed:hover::after,
.doubleDashed:hover::before {
    transform: translateX(0);
}
