.dragLeft {
            width: 120px;
            height: 40px;
            border: none;
            color: blueviolet;
            background: transparent;
            padding: 0 14px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            position: relative;
            transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
            transition-duration: 0.4s;
        }
.dragLeft::after {
                content: "";
                position: absolute;
                background-color: blueviolet;
                height: 100%;
                width: 2px;
                left: 0;
                top: 0;
                transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
                transition-delay: 0.4s;
                z-index: -1;
            }

.dragLeft:hover {
                color: white;
            }

.dragLeft:hover::after {
                width: 100%;
            }

           
