.glowButton {
    background: #5778F3;
    border: 2px solid #5778F3;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    transition: all .3s ease;
    color: #fff;
    box-shadow: 0 0 17px -2px #367a93;
}

.glowButton:hover {
    background: #88a0fb;
    border-color: #88a0fb;
    box-shadow: 0 0 25px 1px #88a0fb;
    color: #fff;
}
