.lineThroughBox {
    color: #474E51;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.lineThroughBox::before {
     content: '';
     position: absolute;
     top: calc(50%);
     background: #5878F3;
     height: 1px;
     left: 0;
     width: 100%;
     transform: translate3d(-100%, 0, 0);
     transition: -webkit-transform 0.7s;
     transition: transform 0.7s ease-in-out;
 }

.lineThroughBox:hover::before {
     transform: translate3d(0, 0, 0);
 }

.lineThroughBox::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #5878F3;
     transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
     transition: transform 0.7s ease-in-out;
 }

.lineThroughBox:hover::after {
     transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
 }
