.overlayLeftBtn {
    padding: 8px 16px;
    background-color: hsl(222, 100%, 95%);
    
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.overlayLeftBtn span {
    color: hsl(243, 80%, 62%);
    position: relative;
    z-index: 1;
    transition: color 0.25s cubic-bezier(.7,0,.9,1);
}

.overlayLeftBtn::before {
    content: '';;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsl(243, 80%, 62%);
    transition: transform 0.25s cubic-bezier(.7,0,.9,1);
}

.overlayLeftBtn:hover span {
    color: hsl(222, 100%, 95%);
}

.overlayLeftBtn:hover::before {
    transform: translate(0, -50%);
}