.pressDownButton {
    background-color: hsl(222, 100%, 95%);
    padding: 12px 24px;
    color: hsl(243, 80%, 62%);
    border-radius: 6px;
    border-bottom: 4px solid hsl(221, 89%, 85%);
    transition: all 0.1s;
}

.pressDownButton:active {
    border-bottom-width: 0;
    margin-top: 3px;
}
