.pressDown {
    background-color: #5778f3;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    border-bottom: 4px solid #3e4caf;
    transition: 0.1s;
}

.pressDown:hover{
    border-bottom-width: 0;
    margin-top: 3px;
}
