.pressDownButton {
    background-color: hsl(222, 100%, 95%);
    padding: 12px 24px;
    color: hsl(243, 80%, 62%);
    border-radius: 6px;
    border-bottom: 4px solid hsl(221, 89%, 85%);
    border-top: 0px solid rgba(249, 250, 251);
    transition: all 0.1s ease-in-out;
}

.pressDownButton:hover {
    border-bottom-width: 0;
    border-top-width: 4px;
}
