.radiusButton {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #474E51;
    transition: all .15s ease;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.radiusButton::after {
    content: "";
    width: 4px;
    height: 4px;
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    transition: all 0.5s;
    z-index: 1;
    background: #5778F3;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
}

.radiusButton:hover::after {
    opacity: 1;
    transform: scale(100);
}

.radiusButton span {
    position: relative;
    z-index: 2;
}
