.slideRight {
    color: #5778F3;
    transition: transform .3s ease-in-out;
    font-size: 25px;
    padding: 15px 20px;
    position: relative;
}

.slideRight::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 22px;
    width: 12px;
    background: url("../assets/images/arrow-right.svg") no-repeat;
}

.slideRight:hover {
    transform: translateX(25px);
}
