.textAnimationLeft {
    height: 40px;
    width: 120px;
    text-align: center;
    overflow: hidden;
    background: #474E51;
    position: relative;
    line-height: 40px;
    color: #fff;
}

.textAnimationLeft::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: #5778F3;
    transition: transform .25s ease-in;
}

.textAnimationLeft:hover::before {
    transform: translateX(0);
}

.textAnimationLeft span {
    position: relative;
    z-index: 1;
    display: block;
}

.textAnimationLeft:hover span {
    animation: animButtonSpan 0.4s;
}

@keyframes animButtonSpan {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    35% {
        transform: translateX(20px);
        opacity: 0;
    }

    50.001% {
        transform: translateX(-20px);
    }

    60% {
        transform: translateX(0px);
    }

}




